* {  
  margin: 0;
  padding: 0;

  } 

body {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  background-color: black;
  color: white;

  background-image: url('http://i.stack.imgur.com/kx8MT.gif');
  background-size: cover;
  
  /* height: 100vh;
  padding:0;
  margin:0; */

  }

  #footer-container {
    background-color: red;
    color: white;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: solid 2px white; 
  }
  
  .footer-image{
    width: 25%;
  margin: auto;
  /* margin-bottom: 10px; */
  margin-left: 0;
  }

  .footer-image a img{
    width: 24%;
  }
  footer {
    width: 100%;
    
  }
 .footer-text {
   text-decoration: none;
   color: white;
 }
  .tabs-ul {
    list-style-type: none;
    background-color: red;
    color: white;
    text-align: right;
    padding: 20px;
    border: 2px solid white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .tabs-li {
  display: inline;
  padding: 20px;
  }
  .tabs-links {
    text-decoration: none;
    color: white;
  }
  
  .tabs-links:hover {
   text-decoration: underline;
   text-decoration-color: white;
   font-size: large;
    }
    
  #tabs {
    display: block;
    margin: 0 auto;
    }
 
      
  h1 {
    font-family: 'Anton', sans-serif;
    border: 2px solid white;
    padding: 20px;
    background-color: red;
    text-transform: uppercase;
    margin: 30px;
  }

  h3 {
    display: flex;
    margin-left: 50px;
    text-decoration: underline;
    text-decoration-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
  }

  #title-image{
    border: 5px solid white;
    border-radius: 10%;
    width: 40%;
  }
 
  p {
  font-size: large;
    margin: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
  }
  h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .hero-img,
  .movie-img {
    width: 250px;
    height: 250px;
    justify-content: center;  
    margin: 20px;
    border: 2px solid white;
    opacity: 95%;
  }

  .hero-img:hover,
   .movie-img:hover {
    opacity: 200%;
    width: 270px;
    height: 270px;
  }
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
  }

  input {
    width: 200px;
    padding: 12px;
    margin: 5px;
    background-color: red;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 2px solid white;
    text-transform: uppercase;
  }

  ::placeholder{  /* got this from google, "how to change color of placeholder" */
 color: white;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  button {
    text-transform: uppercase;
    border: 2px solid white;
    background-color: red;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 12px;
    margin: 20px;
    width: 120px
  }

  button:hover {
    text-decoration: underline;
    font-size: large;
  }

  .heroes,
  .movies{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .hero-div, 
  .movie-container {
    flex-basis: 150px;
  }


   @media only screen and (max-height 600px) {
     body {
       display: flex;
     }
   

   #title-image {
     display: none;
   }

   h3 {
     font-size: large;
     text-decoration: underline;
   }

   #search-hero-input,
   #search-hero-button {
     display: inline;
   }
  }
 
  .movies-text {
    margin-top: 50px;
  }
  @media only screen and (max-height: 512px) {
    body {
      display: flex;
    }
  
    #title-image {
      display: none;
    }

    p {
     font-size: large;
     text-decoration: underline;
    }
    #search-hero-input,
    #search-hero-button {
    flex-flow: column;
    }
   
    #tabs,
    .tabs-li,
    .tabs-ul,
     .tabs-links{
     display: flex;
     flex-direction: column;
     padding: 5px;
    }

    #tabs {
     display: block;
     margin: 0 auto;
    }

  }
  
  @media only screen and (max-width: 812px) {
    #search-hero-input,
    #search-hero-button {
      display: block;
    }

    #search-hero-input {
    width: 100px;
    margin-left: 20px;
    }

  #title-image{
   display: none;
 }
  .heroes {
    display: flex;
    flex-flow: column;
    margin: 10px;
  }
  #tabs,
  .tabs-li,
  .tabs-ul,
  .tabs-links{
   display: flex;
   flex-direction: column;
   padding: 5px;
   text-align: center;
  }

  #tabs {
   display: block;
   margin: 0 auto;
  } 
}

/* ABOUT ME PAGE */

.about-me-text {
  display: flex;
  justify-content: center;
  font-size: larger;
}
 
.api-cred{
  color: white;
display: flex;
flex-flow: row wrap;
}

.api-cred:hover{
font-size: larger;
text-decoration: underline;
}


/* CONTACT ME PAGE */

.contact-me-a {
  text-decoration: none;
  color: white;
}

.contact-me-a:hover {
text-decoration: underline;
font-size: larger;
}